@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "light";
  default: true;

  --color-primary: #D97706;
  --color-primary-content: #ffffff;

  --color-secondary: #2563EB;
  --color-secondary-content: #ffffff;

  --color-accent: #22C55E;
}

@plugin "daisyui/theme" {
  name: "dark";
  prefersdark: true;

  --color-primary: #F59E0B;
  --color-primary-content: #111111;

  --color-secondary: #60A5FA;
  --color-secondary-content: #111111;

  --color-accent: #4ADE80;
}

/* @theme {
  --color-rarity-common: #7d7d7d;
  --color-rarity-rare: #3b82f6;
  --color-rarity-superstar: #8b5cf6;
  --color-rarity-legendary: #f59e0b;

  --color-hardwood: #c68642;
  --color-court: #8b5a2b;

  --color-coin: #ffd54a;
} */


/* @theme {
 
  --font-heading: var(--font-cormorant);
  --font-subHeading: var(--font-inter);
  --font-marquee: serif;

  --color-background: var(--color-neutral-900);
  --color-surface: var(--color-neutral-800);
  --color-border: var(--color-neutral-700);

  --color-foreground: var(--color-neutral-100);
  --color-foreground-muted: var(--color-neutral-300);

  --color-accent-light: #e87b83;
  --color-accent-lighter: #f0b1b2;
  --color-accent: #d8565f;
  --color-accent-dark: #a53d44;
  --color-accent-darker: #8a2738;

  --breakpoint-3xl: 110rem;

  --animate-marquee: marquee 15s linear infinite;
  --animate-shine: shine 3.5s linear infinite;

  @keyframes marquee {
    from {
      transform: translateX(0%);
    }

    to {
      transform: translateX(-50%);
    }
  }

  @keyframes shine {
    0% {
      background-position: 200% 0%;
    }

    100% {
      background-position: -200% 0%;
    }
  }
} */