@import url('https://fonts.googleapis.com/css2?family=Anton&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "tailwindcss";
@plugin "daisyui";

/* override daisyui's css variables */
@plugin "daisyui/theme" {
  name: "light";
  default: true;

  /* Brand */
  --color-primary: #ea580c;
  --color-primary-content: #171717;

  --color-secondary: #FF976F;
  --color-secondary-content: #171717;

  --color-accent: #D10303;
  --color-accent-content: #171717;

  /* Base bg and text */
  --color-base-100: #f5f5f5;
  --color-base-200: #e5e5e5;
  --color-base-300: #d4d4d4;

  --color-base-content: #171717;
}

@plugin "daisyui/theme" {
  name: "dark";
  prefersdark: true;

  /* Brand */
  --color-primary: #EE6730;
  --color-primary-content: #FAFAFA;

  --color-secondary: #FF976F;
  --color-secondary-content: #FAFAFA;

  --color-accent: #D10303;
  --color-accent-content: #FAFAFA;

  /* Base bg and text */
  --color-base-100: #171717;
  --color-base-200: #1C1C1C;
  --color-base-300: #212121;

  --color-base-content: #FAFAFA;
}

/* custom css variables */
@theme {
  --font-base: "Hanken Grotesk", Arial, Helvetica;
  --font-primary: "Anton", Arial, Helvetica;
  --font-secondary: "Space Mono", Arial, Helvetica;

  --color-border: #7E6156;
  --color-border-base: #09090b;

  --color-coin: #ffd54a;
  --color-rarity-common: #7d7d7d;
  --color-rarity-rare: #3b82f6;
  --color-rarity-superstar: #8b5cf6;
  --color-rarity-legendary: #f59e0b;
  --color-hardwood: #c68642;
  --color-court: #8b5a2b;

  /* --breakpoint-3xl: 110rem;

  --animate-marquee: marquee 15s linear infinite;
  --animate-shine: shine 3.5s linear infinite;

  @keyframes marquee {
    from {
      transform: translateX(0%);
    }

    to {
      transform: translateX(-50%);
    }
  }

  @keyframes shine {
    0% {
      background-position: 200% 0%;
    }

    100% {
      background-position: -200% 0%;
    }
  } */
}

body {
  font-family: var(--font-base);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-primary);
}